/* Ingame UI Stuff */
ingame-ui#CustomPanel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
}
ingame-ui#CustomPanel #CustomPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#CustomPanel #CustomPanelWrap #CustomPanelIframe {
  flex: 1 1 auto !important;
  border: 0;
}
ingame-ui#CustomPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#CustomPanel #Footer.hidden {
  display: none;
}
ingame-ui#CustomPanel .ingameUiContent {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#CustomPanel .ingameUiWrapper {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
/* FSTablet Stuff */
h1, p, a {
  margin: 10px;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}


.tablet-header {
  width: 800px;
  border: 0;
  background-color: #262626;
  color: white;
  font-family: sans-serif;
}

#time_provider {
  margin: 0;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 25px;
}

.tablet-body {
  width: 800px;
  height: 525px;
  border: 0;
  background-color: #404040;
  color: white;
  overflow-y: auto;
}

#appIcon {
  width: 100px;
  height: 120px;
  float: left;
  margin: 25px;

  text-align: center;
  align-self: center;
  width: 100px;
  font-family: sans-serif;
}

.system-controls {
  width: 800px;
  height: 50px;
  border: 0;
  background-color: #262626;
  color: white;
}

.system-controls img {
  margin-top: 2px;
  margin-left: 377px;
  margin-right: 377px;
}